.contentArea{ position: relative;}

/* mobile */

/* git */
@keyframes blink-effect {
    50% {
      color: #000;
    }
  }
.More_Mobile_container .blink { animation: blink-effect 1s step-end infinite; color: #05F000; }
.More_Mobile_container .m_gitImgWrap{ position: absolute; top: 0; left: 1%; width: 83.5897vw; height: 36.4103vw; }
.More_Mobile_container .m_gitImg{ position: relative; width: 100%; height: 100%; }
.More_Mobile_container .m_gitImg img{ position: absolute; top: 0; left: 0; width: 100%;}
.More_Mobile_container .m_gitLink{ position: absolute; top: 55%; left: 50%; transform: translate(-50%,-50%); }
.More_Mobile_container .m_gitLink a { display: block; transform: rotate( -12deg ); font-weight: 700; font-size: 6.1538vw; }

/* hate */
.More_Mobile_container .m_hateImgWrap{ position: absolute; top:50%; left: 25%; transform: translate(0,-50%); width: 28.7179vw; height: 25.3846vw;}
.More_Mobile_container .m_hateImg{ position: relative; width: 100%; height: 100%;}
.More_Mobile_container .m_hateImg img{ position: absolute; top: 0; left: 0; width: 100%;}

/* mbti */
.More_Mobile_container .m_mbtiImgWrap{ position: absolute; bottom: 10%; left: 5%; width: 36.4103vw; height: 28.9744vw;}
.More_Mobile_container .m_mbtiImg{ position: relative; width: 100%; height: 100%;}
.More_Mobile_container .m_mbtiImg img{ position: absolute; top: 0; left: 0; width: 100%;}

/* pota */
.More_Mobile_container .m_potaImgWrap{ position: absolute; bottom: 0; right: 0; width: 47.4359vw; height: 75.6410vw;}
.More_Mobile_container .m_potaImg{ position: relative; width: 100%; height: 100%;}
.More_Mobile_container .m_potaImg img{ position: absolute; top: 0; left: 0;  width: 100%;}



/* ------------------------------- */



/* pc */
.More_Pc_container{ display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
/* pota */
.More_Pc_container .potaImgWrap{ width: clamp( 280px, 20.5729vw, 395px); height: clamp(425px, 31.2500vw, 600px); }
.More_Pc_container .potaImg{ position: relative; width: 100%; height: 100%;}
.More_Pc_container .potaImg img{ position: absolute; top: 0; left: 0; width: 100%;}

.imgArea{ position: relative; width: 37.2396vw; height: 25.4167vw; margin-left: 4.4715%;}

/* mbti */
.More_Pc_container .mbtiImgWrap{ position: absolute; top: 0; left: 0; width: clamp(175px, 16.4063vw, 315px); height: clamp(115px , 10.9375vw, 210px);}
.More_Pc_container .mbtiImg { position: relative; width: 100%; height: 100%;}
.More_Pc_container .mbtiImg img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* git */
.More_Pc_container .gitImgWrap{ position: absolute; bottom: 0; left: 50%; transform: translate(-50%,0); width: clamp(300px , 28.6458vw, 550px); height: clamp(70px , 6.5104vw, 125px);}
.More_Pc_container .gitImg{ position: relative; width: 100%; height: 100%;}
.More_Pc_container .gitImg img{ position: absolute; top: 0; left: 0; width: 100%;}
.More_Pc_container .gitImgWrap a{ position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); font-size: 2.0833vw; color: #000; font-weight: 700;}
.More_Pc_container .gitImgWrap:hover a{ color: #05F000;}

/* hate */
.More_Pc_container .hateImgWrap{ position: absolute; top: 0; right: 0; width: clamp(170px , 15.6250vw, 300px); height: clamp(145px, 13.8021vw, 265px);}
.More_Pc_container .hateImg{ position: relative; width: 100%; height: 100%;}
.More_Pc_container .hateImg img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}