/* moblie */
.About_Mobile_container h2{ display: flex; justify-content: center; font-size: 15.3846vw; font-weight: 700; margin-top: 10.2564vw;}
.About_Mobile_container .m_AboutTextWrap{ display: flex; justify-content: space-between; width: 92%; height: 48%; margin: 0 auto; margin-top: 12.8205vw;}
.About_Mobile_container .m_AboutImg{ position: relative; width: 35.8974vw; height: 41.0256vw;}
.About_Mobile_container .m_AboutImg img{ position: absolute; width: 100%;}
.About_Mobile_container .m_AboutTextWrap p{ font-size: 4.1026vw; line-height: 5.1282vw; }
.About_Mobile_container .m_AboutTextWrap p span{ font-weight: 700; line-height: 7.6923vw; }

/* pc */
.AboutWrap{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: space-between; width: 85%; height: 21.6146vw; }
.AboutImg{ position: relative; width: 19.0104vw; height: 100%; margin-right: 5%;}
.AboutImg img{ position: absolute; top: 0; left: 0; width: 100%;}
.AboutTextWrap{ width: 55%;}
.AboutTextWrap h2{ font-size: 4.1667vw; font-weight: 700; margin-bottom: 40px;}
.AboutTextWrap p{ font-size: 1.4583vw; line-height: 1.56em;}