@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

header{ font-family: 'Oswald', sans-serif;}
button{ border: none; background: transparent; }

/* header */

.nav{ position: relative; background: #000; }
.logo{ width: 46px; position: absolute; top: 50%; transform: translate(0, -50%); }
.nav ul{ position: absolute; top:50%; transform: translate(0, -50%);  display: flex; }
.nav li{ color: #fff; font-weight: 700; }

.mobile_container .nav{ height: 60px;}
.mobile_container .logo{ left: 10px;}
.mobile_container .nav ul{ left: 80px;}
.mobile_container .nav li{ font-size: 20px; margin-right: 20px;}

.pc_container .nav{ height: 8vh;}
.pc_container .logo{ left: 40px; }
.pc_container .nav ul{ left: 125px;}
.pc_container .nav li{ font-size: 30px; margin-right: 70px;}


