@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

header{ font-family: 'Oswald', sans-serif;}
button{ border: none; background: transparent; }

/* header */

.nav{ position: relative; background: #000; }
.logo{ width: 46px; position: absolute; top: 50%; transform: translate(0, -50%); }
.nav ul{ position: absolute; top:50%; transform: translate(0, -50%);  display: flex; }
.nav li{ color: #fff; font-weight: 700; }

.mobile_nav .nav{ height: 60px;}
.mobile_nav .logo{ left: 10px;}
.mobile_nav .nav ul{ left: 80px;}
.mobile_nav .nav li{ font-size: 20px; margin-right: 20px;}

.pc_nav .nav{ width: clamp(920px, 89.5833vw, 1720px); margin: 0 auto; border-left: 3px solid #000; border-right: 3px solid #000; height: 7.41vh; }
.pc_nav .logo{ left: 40px; }
.pc_nav .nav ul{ left: 125px;}
.pc_nav .nav li{ font-size: 30px; margin-right: 70px;}


