.httpWrap{ position: relative; width: 100%; height: clamp(40px, 3.7500vw, 70px); background-color: transparent; box-sizing: border-box; }
.httpWrap h2{ position: absolute; top: 50%; left: 11%; transform: translate(0, -50%); font-size: clamp(16px, 1.2500vw, 24px); color: #ABABAB; font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;}

.imgWrap{ position: relative; width: 100%; height: clamp(485px, 45.1042vw, 796px); }
.imgWrap img{ position: absolute; top: 0; width: 100%; } 


